<a name="{{ key }}"></a>
<h2 class="styleguide">{{ title }}</h2>
{% if description -%}
  <p class="styleguide-description">
  {{ description }}
  </p>
{%- endif %}
<div class="styleguide">{{ content | raw }}</div>